@CHARSET "UTF-8";

html {
	margin: 0 ;
	color: #28b1f3 ;
	background-color: #201864 ;
	font-family: 'arial' ;
}

.drop-site {
	border: dashed 3px grey ;
	width: 150px ;
	height: 150px ;
	color: silver ;
	text-align: center ;
	display: table-cell; 
	vertical-align: middle;
	padding: 15px ;
	margin: 0 ; 
}

.drop-hover {
	border: dashed 3px black !important;
}

.net-view {
	overflow: hidden ;
	position: absolute ;
	padding: 0 ;
	margin: 0 ;
	bottom: 0 ;
	left: 0 ;
	right: 0 ;
	top: 200px ;
	background-color: #1f0c45 ;	
}